<span class="primary-logo">
</span>
<span id="navbar">
</span>
<h1 class="title">Pallet Tracker
</h1>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
<br>
